
<div class="list_songs">
  <h1>Listing songs</h1>
</div>
<script type="text/javascript" src="scripts/soundcloud.player.api.js"></script>
<script type="text/javascript">
   soundcloud.addEventListener('onPlayerReady', function(player, data) {
     player.api_play();
   });
</script>

<!-- <h1>Listing songs</h1>
>>>>>>> 25b6bcf962a99781d046788bc95f07de03e17ade -->

<table>
  <tr>
    <th>Artist name</th>
    <th>Track title</th>
    <th>Uid</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </table>
<br />

<object height="81" width="100%" id="myPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
 
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=myPlayer" buying='true' download='true'></param>
  <param name="allowscriptaccess" value="always"></param>
  
  <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=myPlayer" type="application/x-shockwave-flash" width="100%" name="myPlayer"></embed>


</object>

<script>
<object height="81" width="100%">
  <param name="movie" 
    value="http://player.soundcloud.com/player.swf?{ ADD YOUR PARAMETERS HERE }&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed 
    src="http://player.soundcloud.com/player.swf?{ ADD YOUR PARAMETERS HERE }&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293" 
    allowscriptaccess="always" height="81"  type="application/x-shockwave-flash" width="100%">
  </embed>
</object>
</script>

<%= link_to 'New Song', new_song_path %>
