<h1 class="landing-title">The 
      Underground</h1>

<!-- <div class="main-wrapper">
  <h1 class="logo">U</h1> -->

  <h2 class="header-one"> Listen: </h2> 

    <div class="pure-g-r one">
      <div class="pure-u-1-5 listen-info">
        <p> Pick a genre. </p>
      </div>

      <div class="pure-u-1-5 listen-info">
        <p> Browse through the list of new, up and coming artists. </p>
      </div>

      <div class="pure-u-1-5 listen-info">
        <p> Find you favorite artists and tracks. </p>
      </div> 
    </div>
<!-- </div>
 -->

<h2 class="header-two"> Promote: </h2> 

    <div class="pure-g-r two">
      <div class="pure-u-1-5 promote-info">
        <p> Listen to your artists. </p>
      </div>

      <div class="pure-u-1-5 promote-info">
        <p> Give them a vote and bring them to your town. </p>
      </div>

      <div class="pure-u-1-5 promote-info">
        <p> Donate to their crowdtilts and help them make more music. </p>
      </div> 
    </div>


  
