<!DOCTYPE html>
<html>
<head>
  <title>Onemusic</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One|Faster+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1 class="landing-title">The 
      Underground</h1>

  <div class="pure-g-r">
    <div class="pure-u-1-3">
      <p> Pick a genre. </p>
    </div>

    <div class="pure-u-1-3">
      <p> Browse through the list of new, up and coming artists. </p>
    </div>

    <div class="pure-u-1-3">
      <p> Find you favorite artists and tracks. </p>
    </div> 
  </div>


  <!-- <footer class="contact-info">
    <a href="#">Contact Us</a>
    <a href="#">Give us your feedback!</a>
    <a href="#">something</a>
  </footer> -->
</body>
</html>


