// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_songs {
  color: #FF7216;
  width: 100%;
  font-size: 3em;   
}